2mov.ru {
    handle /webhook* {
        reverse_proxy bot:8080
    }
    handle {
        root * /app/site
        file_server
    }
    header {
        X-Content-Type-Options "nosniff"
        X-Frame-Options "DENY"
    }
}
